= simple_form_for @doc do |f|
  .mb-3
    = f.input :title, class: 'form-control'
  .mb-3
    = f.input :content, as: :text, input_html: {rows: '10'}, class: 'form-control'
  .mb-3
    = f.submit :submit, class: 'btn btn-primary'
    = link_to 'Cancel', :back, class: 'btn btn-secondary'