.container
  #doc_show
    %h1.title= @doc.title
    %p= simple_format(@doc.content)

    .buttons
      = link_to 'Edit', edit_doc_path(@doc), class: 'btn btn-warning'
      = link_to 'Destroy', doc_path(@doc), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'