#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized. Always.
    %button
      = link_to "Enter", new_user_session_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Vestibulum ut eros sed purus tristique fringilla id at purus. Morbi interdum odio tempor fringilla auctor. Phasellus eu erat vel lectus luctus pharetra. Mauris quis tempus sapien, sed dapibus tortor. Phasellus vitae ex sed lacus congue maximus. Aenean at arcu diam. Phasellus rutrum facilisis justo ac imperdiet. Sed rutrum massa vitae erat ultricies, eu elementum elit pellentesque. Fusce id metus posuere, pellentesque diam id, sollicitudin dui. Phasellus semper tellus a volutpat rutrum. Maecenas leo lacus, accumsan a libero quis, efficitur interdum dui. Donec dignissim metus nunc, vitae venenatis ipsum placerat in. Donec id purus egestas, gravida nibh quis, interdum neque. Cras convallis est velit, vel semper tellus tempor quis. Sed pretium convallis maximus. Vivamus risus nibh, gravida eu rhoncus et, elementum nec urna.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button
      = link_to "Join Now", new_user_registration_path