!!!
%html
%head
  %title FileCabinet | Your life's work!
  %meta{name:"viewport", content:"width=device-width,initial-scale=1"}
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

%body
  %header
    .header_inner
      = link_to "FileCabinet", root_path, id: 'logo'

      %nav
        - if user_signed_in?
          = link_to "Create Doc", new_doc_path
          = link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          = link_to "Log in", new_user_session_path

  %p.notice
    = notice
  %p.alert
    = alert

  = yield
